<div class="card bg-dark text-light mb-3 pointer shadow-sm" [class.animate-fade-out]="show.deleting" *ngIf="show" style="height: 160px; overflow: hidden;" (click)="openShow()"
    (contextmenu)="onRightClick($event)">
    <div [class.d-none]="!show.deleting" [class.animate-width]="show.deleting" class="being-deleted">
        <fa-icon [icon]="faTrash"></fa-icon>
    </div>
    <div class="row g-0">
        <div class="col-3 col-md-1">
            <div class="image-container h-160">
                <img *ngIf="show.image" [src]="show.image" [alt]="show.name" class="img-fluid rounded-start h-160">
                <div class="overlay rounded-start" *ngIf="getProgress(show)>=100"><fa-icon [icon]="faEye"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-9 col-md-11">
            <div class="card-body pb-1 pt-1" style="overflow: auto; max-height: 160px;">
                <h3 class="card-title" *ngIf="!show.renaming">{{ show.name }} - {{show.seasons.length}} Seasons</h3>
                <input id="show-input-{{show.id}}" *ngIf="show.renaming" type="text" class="form-control bg-dark text-light border-secondary mb-2" [(ngModel)]="show.name"
                    (blur)="saveName()" (keyup.enter)="saveName()">
                <p class="card-text" [innerHTML]="show.description"></p>
            </div>
            <div class="progress bg-darkbg show-progress" *ngIf="getProgress(show)>0">
                <div class="progress-bar" role="progressbar" [style.width]="getProgress(show) + '%'" [class.bg-primary]="getProgress(show)<100" [class.bg-success]="getProgress(show)>=100"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="menu"></div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="renameShow()">
        <span><fa-icon [icon]="faPen" class="me-2"></fa-icon> Rename</span>
    </button>
    <button mat-menu-item (click)="addSeason()">
        <span><fa-icon [icon]="faAdd" class="me-2"></fa-icon> Season</span>
    </button>
    <button mat-menu-item (click)="removeShow()">
        <span><fa-icon [icon]="faTrash" class="me-2"></fa-icon> Remove</span>
    </button>
</mat-menu>