<div class="container mt-3">
  <!-- Input group with search -->
  <div class="input-group mb-3">
      <input id="typeahead-basic" type="text" class="form-control bg-dark text-light border-secondary"
          [(ngModel)]="searchTerm" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
          (selectItem)="selectItem($event)" placeholder="Search for {{currentItemType}}s..." />
      <!-- Clear selection button -->
      <button class="btn btn-danger" *ngIf="selectedItems && selectedItems.length > 0" (click)="clearSelection()">
          <fa-icon [icon]="clearIcon"></fa-icon>
      </button>

      <!-- Barcode Scanner Component -->
      <app-barcode-scanner *ngIf="currentItemType=='Book'" (isbnScanned)="onIsbnScanned($event)"></app-barcode-scanner>

      <button class="btn btn-outline-secondary text-light">
          <fa-icon [icon]="searchIcon"></fa-icon>
      </button>
  </div>

  <!-- Typeahead result template -->
  <ng-template #rt let-r="result" let-t="term">
      <img *ngIf="r.collectibleItem.coverImageUrl"
          [src]="r.collectibleItem.coverImageUrl" class="me-1" style="width: 48px" />
      <ngb-highlight [result]="r.collectibleItem.title" [term]="t"></ngb-highlight>
  </ng-template>
  
  <!-- Display selected books -->
  <div *ngIf="selectedItems.length > 0">
      <h2 class="text-light mt-3">Search Results</h2>
      <div *ngFor="let item of selectedItems" class="mb-2">
          <div style="height: 200px;">
              <app-item-card [item]="item.collectibleItem" [inCollection]="inCollection(item)" [status]="getItemStatus(item)"
              (save)="saveItem(item)" (delete)="deleteBook(item.collectibleItem.id)"></app-item-card>
          </div>
      </div>
  </div>

  <!-- Error message -->
  <div *ngIf="searchFailed" class="alert alert-danger mt-3">Search failed</div>

  <!-- Display saved books -->
  <div>
      <h2 class="text-light mt-3">My Collection</h2>

      <!-- Filter Controls -->
      <div class="row mb-3">
          <div class="col-8">
            <div class="input-group">
              <input type="text" class="form-control bg-dark border-secondary text-light"
                  placeholder="Search by title or ISBN..." [(ngModel)]="filterTerm"
                  (ngModelChange)="onFilterChange()" />

                  <button class="btn btn-outline-secondary text-light">
                      <fa-icon [icon]="filterIcon"></fa-icon>
                  </button>
                </div>
          </div>
          <div class="col-4">
            <div class="input-group">
              <select class="form-control bg-dark border-secondary text-light" [(ngModel)]="filterStatus"
                  (change)="onFilterChange()">
                  <option value="" selected>All</option>
                  <option *ngFor="let status of statuses" [value]="status">
                      {{ statusFormatter(status) | titlecase }}
                  </option>
              </select>

              <button class="btn btn-outline-secondary text-light">
                  <fa-icon [icon]="filterIcon"></fa-icon>
              </button>
            </div>
          </div>
      </div>

      <div class="row" *ngIf="savedItems.length > 0">
          <div class="col-12 mb-2 col-md-6 mb-3" *ngFor="let item of savedItems">
              <app-item-card [item]="item.collectibleItem" [inCollection]="true" [status]="item.status"
                  (delete)="deleteBook(item.collectibleItem.id)">
                  (searchByTitle)="setTitle($event)"></app-item-card>
          </div>

          <!-- Pagination -->
          <div class="col-12" *ngIf="totalItems > pageSize">
              <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize"
                  [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [ellipses]="true" (pageChange)="onPageChange($event)">
              </ngb-pagination>
          </div>
      </div>
  </div>
  <div *ngIf="savedItems.length === 0 && (filterTerm || filterStatus)" class="text-light">
      <p>No books match your filter criteria.</p>
  </div>
</div>