<div class="card book-card bg-dark text-light shadow-sm h-100" style="height: 225px;"
  (contextmenu)="onRightClick($event)" (dblclick)="onRightClick($event)">
  <div class="row my-auto g-0">
    <div class="col-5 col-md-3 h-100">
      <div class="position-relative h-100">
        <!-- Overlay on the thumbnail based on status -->
        <div *ngIf="status === CollectibleStatus.Completed" class="thumbnail-overlay rounded-start">
          <fa-icon [icon]="faCheckCircle" class="overlay-icon text-success"></fa-icon>
        </div>
        <div *ngIf="status === CollectibleStatus.InProgress" class="thumbnail-overlay rounded-start">
          <fa-icon [icon]="faGlasses" class="overlay-icon text-primary"></fa-icon>
        </div>
        <img [src]="getCoverImageUrl()" class="rounded-start book-thumbnail h-100 w-100" style="max-height: 100%;"
          alt="Book Cover" />
        <!-- Page count input -->
        <div class="position-absolute top-0 start-50 translate-middle-x" style="width: 85%;">
          <div *ngIf="getCurrentPage()">
            <div class="input-group">
              <input id="pageCount" class="form-control form-control-sm bg-transparent border-0 rounded-0 text-light"
                style="background-color: rgba(0,0,0,.75) !important; border-bottom-left-radius: .25rem !important;direction: rtl;"
                type="number" max="{{getPageCount()}}" min="1" (change)="changeCurrentPage($event)"
                [value]="getCurrentPage()" placeholder="Enter page count" />
              <button
                class="btn btn-sm btn-outline-light bg-transparent border-0 rounded-0 text-light border-start border-secondary"
                style="background-color: rgba(0,0,0,.75) !important; border-bottom-right-radius: .25rem !important;">
                {{getPageCount()}} <fa-icon [icon]="faBookOpen" class="text-light"></fa-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- Authors -->
        <div *ngIf="getAuthors() !== undefined && (getAuthors()?.length ?? 0) > 0"
          class="position-absolute bottom-0 start-50 translate-middle-x rounded-top text-center text-truncate"
          style="background-color: rgba(0,0,0,.75) !important; width: 85%;">
          <small class="text-light">
            {{ getAuthors() }}
          </small>
        </div>
      </div>
    </div>
    <div class="col-7 col-md-9">
      <div class="card-body d-flex flex-column h-100">
        <div>


          <!-- Spacer to push buttons to the bottom -->
          <div class="position-absolute bottom-0 end-0 mb-2 me-2">
            <!-- Status selector as segmented buttons -->
            <div *ngIf="inCollection" class="status-selector">
              <div class="btn-group" role="group" aria-label="Status">
                <button *ngFor="let s of statuses" type="button" class="btn"
                  [ngClass]="status !== s.value ? s.btnClass : s.btnFillClass" (click)="changeItem(s.value)">
                  <fa-icon [icon]="s.icon" [class.me-1]="!isOnMobile"></fa-icon>
                  <span *ngIf="!isOnMobile">{{ s.label }}</span>
                </button>
              </div>
            </div>
            <!-- Save button & Search by title emitter -->
            <div>
              <button *ngIf="!inCollection" class="btn btn-outline-success me-2" (click)="save.emit()">
                Add to Collection
              </button>
              <button *ngIf="!inCollection" class="btn btn-outline-primary" (click)="sendSearchByTitle()">
                Search Title
              </button>
            </div>

            <!-- Context Menu -->
            <div *ngIf="showContextMenu" [ngStyle]="{
              'top.px': contextMenuPosition.y,
              'left.px': contextMenuPosition.x
            }" class="custom-context-menu" (click)="onContextMenuOption('remove')">
              <ul class="list-unstyled mb-0">
                <li class="context-menu-item">Remove from Collection</li>
              </ul>
            </div>
          </div>

          <!-- Title, Description, Subtitle -->
          <h5 class="card-title">{{ getTitle() }}</h5>
          <p class="card-text" *ngIf="getDescription() !== undefined && getDescription()!.length > 0">
            {{ getDescription() }}
          </p>
          <h5 class="card-text" *ngIf="!getDescription() || getDescription()?.length == 0">
            {{ getSubtitle() }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>