<div *ngFor="let episode of season.episodes; let last = last;">
    <div class="row g-0" (click)="setWatched(episode)" (contextmenu)="onRightClick($event, episode)">
        <div class="col-4 col-md-2">
            <div class="image-container rounded" style="width: 160px;">
                <img *ngIf="episode.image" [src]="episode.image"
                [alt]="episode.name" class="img-fluid rounded">
                <div class="overlay rounded" *ngIf="episode.watched"><fa-icon [icon]="faEye"></fa-icon></div>
            </div> 
        </div>
        <div class="col-12 col-md-10">
            <div class="card-body">
                <h3 class="card-title" *ngIf="!episode.renaming">{{ episode.name }}</h3>
                <input #episodeNameInput *ngIf="episode.renaming" type="text" class="form-control" [(ngModel)]="episode.name" (blur)="saveName()" (keyup.enter)="saveName()">
                <p class="card-text" [innerHTML]="episode.description"></p>
            </div>
        </div>
    </div>
    <hr  *ngIf="!last">
</div>


<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="menu"></div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="rename()">
        <span><fa-icon [icon]="faPen" class="me-2"></fa-icon> Rename</span>
    </button>
    <button mat-menu-item (click)="delete()">
        <span><fa-icon [icon]="faTrash" class="me-2"></fa-icon> Delete</span>
    </button>
</mat-menu>