<!-- Go back button -->
<button class="btn top-left-btn btn-outline-light" (click)="goBack()"><fa-icon [icon]="faArrowLeft"></fa-icon></button>

<div class="container mt-3" *ngIf="show">
    <div class="row">
        <div class="col-2">
            <img *ngIf="show.image" [src]="show.image" class="img-fluid rounded" />
        </div>
        <div class="col-10 text-light">
            <h1>{{ show.name }}</h1>
            <hr>
            <p [innerHTML]="show.description"></p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <div ngbAccordion class="bg-dark">
                <div ngbAccordionItem *ngFor="let season of show.seasons; let i = index;" class="bg-dark border-dark"
                    [disabled]="season.deleting">
                    <h1 ngbAccordionHeader class="bg-dark mb-0">
                        <button ngbAccordionButton class="bg-dark" (contextmenu)="onRightClick($event, season)">
                            <div [class.d-none]="!season.deleting" class="w-100 click-overlay" (click)="cancelDelete($event, season)">
                                <div [class.animate-width]="season.deleting" class="being-deleted">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </div>
                            </div>
                            <span [class.text-success]="season.episodes.length>0&&allWatched(season)"
                                [class.text-light]="!allWatched(season)"
                                [class.text-primary]="season.episodes.length==0">Season {{i+1}} -
                                ({{season.episodes.length}} Episodes)</span>
                        </button>
                    </h1>
                    <div ngbAccordionCollapse class="bg-dark">
                        <div ngbAccordionBody class="bg-dark text-light">
                            <ng-template>
                                <app-episodes [season]="season" (episodeChanged)="saveWatchedEpisode($event)"
                                    (deleteEpisode)="deleteEpisode($event, season)"></app-episodes>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="menu"></div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addEpisode()">
        <span><fa-icon [icon]="faAdd" class="me-2"></fa-icon> Episode</span>
    </button>
    <button mat-menu-item (click)="setAllWatched()">
        <span><fa-icon [icon]="faEye" class="me-2"></fa-icon> Completed</span>
    </button>
    <button mat-menu-item (click)="removeSeason()">
        <span><fa-icon [icon]="faTrash" class="me-2"></fa-icon> Remove</span>
    </button>
</mat-menu>