.top-left-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.border-dark {
    border: 1px solid #343a40 !important;
}

.glide-in {
    animation: glideIn 0.2s linear forwards;
}

@keyframes glideIn {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

// Only if screen is mobile
@media (max-width: 810px) {
    .h-25vh {
        max-height: 25vh;
    }
    
    .inherit-height {
        max-height: inherit;
    }
    
}