<div class="container mt-3 glide-in">
    <ng-template #rt let-r="result" let-t="term">
        <img *ngIf="r.show&&r.show.image" [src]="r.show.image.medium" class="me-1" style="width: 48px" />
        <ngb-highlight [result]="r.show.name" [term]="t"></ngb-highlight>
    </ng-template>
    <div class="row">
        <div class="col-12">
            <!-- Hidden input to hide autocomplete dropdown -->
            <input type="text" style="display:none">
            <input type="password" style="display:none">
            <div class="input-group">
                <input #instance="ngbTypeahead" id="typeahead-basic" type="text"
                    class="form-control bg-dark text-light border-secondary" [(ngModel)]="seriesSearch"
                    [ngbTypeahead]="search" placeholder="Search any show..." [resultTemplate]="rt"
                    [inputFormatter]="formatter" (focus)="focus$.next($any($event).target.value)"
                    (selectItem)="selectItem($event)" (click)="click$.next($any($event).target.value)"
                    autocomplete="false">
                <div class="btn btn-primary" (click)="saveSeriesSearch()"><fa-icon [icon]="faAdd"></fa-icon></div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12"
            *ngFor="let show of filterSelectedShows(seriesSearch()) | slice: (page-1) * pageSize : page * pageSize;">
            <app-series [show]="show" (remove)="removeShow($event)"></app-series>
        </div>
        <ngb-pagination *ngIf="filterSelectedShows(seriesSearch()).length>pageSize" [(page)]="page" [pageSize]="pageSize"
            [collectionSize]="filterSelectedShows(seriesSearch()).length" />
    </div>
</div>