<ng-template #content let-modal>
    <div class="info-card" *ngIf="shows">
        <h5 class="info-title">Summary</h5>
        <ul class="info-list text-light">
            <li><span class="info-label">Shows:</span> <b>{{ exportInfo.totalShows }}</b></li>
            <li><span class="info-label">Seasons:</span> <b>{{ exportInfo.totalSeasons }}</b></li>
            <li><span class="info-label">Episodes:</span> <b>{{ exportInfo.totalEpisodes }}</b></li>
            <li><span class="info-label">Watched:</span> <b>{{ exportInfo.totalWatched }}</b></li>
            <li><span class="info-label">Unwatched:</span> <b>{{ exportInfo.totalUnwatched }}</b></li>
            <li><span class="info-label">Watchtime:</span> <b>{{ exportInfo.totalRuntimeString }}</b></li>
            <li (click)="registerShare()" class="pointer"><span class="info-label">Receive:</span> <span
                    [class.text-warning]="!shareConnected" [class.text-success]="shareConnected"><b><fa-icon
                            [icon]="connectedIcon"></fa-icon> {{ getShareId() }}</b></span>
            </li>
        </ul>
        <hr>
        <div class="d-flex justify-content-between mt-3">
            <div class="input-group h-100">
                <input type="text" class="form-control bg-dark text-light border-secondary" [(ngModel)]="shareId"
                    placeholder="Enter share ID..." />
                <button type="button" class="btn btn-outline-warning" (click)="shareShows()"> <fa-icon
                        [icon]="importIcon"></fa-icon> Share</button>
                <button *ngIf="shareReceived" type="button" class="btn btn-outline-success" (click)="save()"> <fa-icon
                        [icon]="saveIcon"></fa-icon> Save</button>
                <button type="button" class="btn btn-outline-danger" (click)="modal.close()"> <fa-icon
                        [icon]="closeIcon"></fa-icon> Close</button>
            </div>
        </div>
    </div>
</ng-template>